.center {
    text-align: center;
}
.toBlue {
    color: blue;
}
.toRed {
    color: red;
}
.toGreen {
    color: green;
}
.toLarge {
    font-size: 200%;
}
.toTiny {
    font-size: 50%;
}
.toBold {
    font-weight: bold;
}
.toArial {
    font-family: Arial, Helvetica, sans-serif;
  }

.toCombine {font-size: 200%;
color:orange;
font-weight: bold;
}
.styledFont {font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    color: green;
}
#styledImage {border-style: solid;
    border-width:thick;
    border-color:orange; 
}